footer {
    background-color: rgb(103, 146, 183);
    color:  #f2f1f1;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
    
}